[Unit]
Description=Hecate parksim — traffic generator (SIM client)
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/hecate-services/hecate-parksim-simulator:latest
ContainerName=hecate-parksim-simulator
AutoUpdate=registry
Network=host

Volume=/bulk0/hecate-parksim-simulator:/data:Z

PidsLimit=-1

EnvironmentFile=%h/.hecate/gitops/system/hecate-parksim-simulator.env

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=60s

[Install]
WantedBy=default.target
