apiVersion: apps/v1
kind: Deployment
metadata:
  name: git-server
  namespace: hecate
  labels:
    app.kubernetes.io/name: git-server
    app.kubernetes.io/part-of: hecate-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: git-server
  template:
    metadata:
      labels:
        app: git-server
    spec:
      containers:
        - name: git-http-backend
          image: ynohat/git-http-server
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: GIT_PROJECT_ROOT
              value: /repos
          volumeMounts:
            - name: repos
              mountPath: /repos
          resources:
            requests:
              memory: "32Mi"
              cpu: "25m"
            limits:
              memory: "128Mi"
              cpu: "250m"
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 10
      volumes:
        - name: repos
          hostPath:
            path: /var/lib/hecate/repos
            type: DirectoryOrCreate
